* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
    background-color: #eeecdf;
    z-index: 1;
}

body{
    
    background-color: #eeecdf;
}

/*--------------------------------------------*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


@keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #183e31;
}

#imglogo{
  width: auto;
 }
:root {
    --colorTextos: #49454567;
}
.contend {
    font-family: 'Roboto';
    top:0px;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*height: 500px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: 
}

form{
    padding: 40px 0;
    border-radius: 10px;
}

form h1{
    color: #a65f1a;
    font-family: phantomheavy;   
}

.form{
    width: 100%;
    min-width: 300px;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 5px ;
}

#form input{
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
    
    color: #a44549;
    font-size: 15px;
    font-family: phantomheavy;   
    text-align: left;
}
input:focus{ 
    outline: none;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #a44549, #a44549);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent; 
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

button{
    font-family: phantomheavy;   
    border: none;
    display: block;
    width: 60%;
    margin: 10px auto;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    color: #f5f0ea;
    background-color: #7ea593;
        
}
    

@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}

.board{
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width: 600px;
    height: 500px;
    border: 2px solid #D4D0D0;
}
@media screen and (max-width: 700px) {
    .container{
        width: 400px;
        height: 400px;
    }
}
.dot{
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border: 0px solid rgb(71, 71, 71);
    border-radius: 20%;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
}


.overlaytallas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlaytallas:target {
    visibility: visible;
    opacity: 1;
}
#bodytallas{
    width: 75%;
    padding: 0%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    transition: all 5s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 2%
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

select{
    text-align-last: center;
    width:100%;
    color: #183e31;
    font-size: 15px;
    font-family: phantomheavy;   
    text-align: center;
    padding: 5px 5px 5px 5px;
}
